In [1]:
%matplotlib inline                               
import pandas as pd                               
import matplotlib.pyplot as plt

*%matplotlib inline                                # a line magic to instruct Jupyter to capture Matplotlib plots and render them in the cell output

*import pandas as pd                               # for data

*import matplotlib.pyplot as plt                   # to plot charts

In [2]:
df = pd.read_csv('dataset/fortune500.csv')

In [3]:
df.head()

,Year,Rank,Company,Revenue (in millions),Profit (in millions),Unnamed: 5
0,1955,1,General Motors,9823.5,806,NaN
1,1955,2,Exxon Mobil,5661.4,584.8,NaN
2,1955,3,U.S. Steel,3250.4,195.4,NaN
3,1955,4,General Electric,2959.1,212.6,NaN
4,1955,5,Esmark,2510.8,19.1,NaN

In [4]:
df.tail()

,Year,Rank,Company,Revenue (in millions),Profit (in millions),Unnamed: 5
25495,2005,496,Wm. Wrigley Jr.,3648.6,493,NaN
25496,2005,497,Peabody Energy,3631.6,175.4,NaN
25497,2005,498,Wendy's International,3630.4,57.8,NaN
25498,2005,499,Kindred Healthcare,3616.6,70.6,NaN
25499,2005,500,Cincinnati Financial,3614.0,584,NaN

In [8]:
df.columns = ['year', 'rank', 'company', 'revenue', 'profit']

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements

In [ ]:
len(df)

In [ ]:
df.dtypes

In [ ]:
non_numberic_profits = df.profit.str.contains('[^0-9.-]')
df.loc[non_numberic_profits].head()
set(df.profit[non_numberic_profits])
len(df.profit[non_numberic_profits])

In [ ]:
bin_sizes, _, _ = plt.hist(df.year[non_numberic_profits], bins=range(1955, 2006))

In [ ]:
df = df.loc[~non_numberic_profits]
df.profit = df.profit.apply(pd.to_numeric)

In [ ]:
len(df)

In [ ]:
df.dtypes

In [ ]:
group_by_year = df.loc[:, ['year', 'revenue', 'profit']].groupby('year')
avgs = group_by_year.mean()
x = avgs.index
y1 = avgs.profit
def plot(x, y, ax, title, y_label):
    ax.set_title(title)
    ax.set_ylabel(y_label)
    ax.plot(x, y)
    ax.margins(x=0, y=0)

In [ ]:
fig, ax = plt.subplots()
plot(x, y1, ax, 'Increase in mean Fortune 500 company profits from 1955 to 2005', 'Profit (millions)')

In [ ]:
y2 = avgs.revenue
fig, ax = plt.subplots()
plot(x, y2, ax, 'Increase in mean Fortune 500 company revenues from 1955 to 2005', 'Revenue (millions)')

In [ ]:
def plot_with_std(x, y, stds, ax, title, y_label):
    ax.fill_between(x, y - stds, y + stds, alpha=0.2)
    plot(x, y, ax, title, y_label)
fig, (ax1, ax2) = plt.subplots(ncols=2)
title = 'Increase in mean and std Fortune 500 company %s from 1955 to 2005'
stds1 = group_by_year.std().profit.values
stds2 = group_by_year.std().revenue.values
plot_with_std(x, y1.values, stds1, ax1, title % 'profits', 'Profit (millions)')
plot_with_std(x, y2.values, stds2, ax2, title % 'revenues', 'Revenue (millions)')
fig.set_size_inches(14, 4)
fig.tight_layout()